* {
  box-sizing: border-box;
}
body {
  margin: 2.5vmin;
  background: #333;
  color: #ccc;
  font-family: Georgia;
}
.gemini-game {
  position: relative;
  color: #333;
  background: #ca5;
  width: 95vmin;
  height: 95vmin;
  border-radius: 1.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gemini-game nav {
  position: absolute;
}
.gemini-game nav button {
  font-family: inherit;
  font-weight: bold;
  font-style: italic;
  font-size: 3vmin;
  text-shadow: none;
  box-shadow: none;
  color: #ccc;
  background: green;
  border: .25vmin solid;
  border-radius: .5vmin;
  padding: 2vmin;
}
.gemini-square {
  box-sizing: content-box;
  position: relative;
  width: 80vmin;
  height: 80vmin;
  border: 1.5vmin solid #a84;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gemini-square.innermost {
  border: none;
}
.gemini-square > .gemini-square {
  width: 70.71%;
  height: 70.71%;
  transform: rotate(45deg);
  border-radius: 1.5vmin;
}
.gemini-square > .edges {
  position: absolute;
  margin: -0.75vmin;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  list-style: none;
}
.gemini-square > .edges > .edge {
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 3vmin;
  background: rgba(255, 255, 255, 0.0);
  transition: background .3s;
}
.gemini-square > .edges > .edge.movable:hover {
  background: rgba(255, 255, 255, 0.25);
}
.gemini-square > .edges > .edge-1 {
  top: -3vmin;
  left: 3vmin;
  right: 3vmin;
  height: 6vmin;
}
.gemini-square > .edges > .edge-2 {
  top: 3vmin;
  bottom: 3vmin;
  right: -3vmin;
  width: 6vmin;
}
.gemini-square > .edges > .edge-3 {
  left: 3vmin;
  bottom: -3vmin;
  right: 3vmin;
  height: 6vmin;
}
.gemini-square > .edges > .edge-4 {
  top: 3vmin;
  left: -3vmin;
  bottom: 3vmin;
  width: 6vmin;
}
.gemini-square > .edges > .edge::before {
  content: '';
  position: absolute;
  margin: 0;
  padding: 0;
  width: 6vmin;
  height: 6vmin;
  background-color: #a84;
  border-radius: 100%;
}
.gemini-square > .edges > .edge-1::before {
  top: 0;
  left: -6vmin;
}
.gemini-square > .edges > .edge-2::before {
  top: -6vmin;
  right: 0;
}
.gemini-square > .edges > .edge-3::before {
  bottom: 0;
  right: -6vmin;
}
.gemini-square > .edges > .edge-4::before {
  bottom: -6vmin;
  left: 0;
}
.gemini-square > .edges > .edge.color--1::before {
  background-color: white;
}
.gemini-square > .edges > .edge.color-1::before {
  background-color: green;
}
.gemini-square > .edges > .edge.color-2::before {
  background-color: yellow;
}
.gemini-square > .edges > .edge.color-3::before {
  background-color: black;
}
.gemini-square > .edges > .edge.color-4::before {
  background-color: firebrick;
}
